@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  min-height: 100%;
  width: 100%;
}

.message-submit-button {
  bottom: 0.7rem;
  inset-inline-end: 0.625rem;
}

.vultgpt-container {
  min-height: 94vh;
}
